body{
    font-size:1em;
    font-family:Verdana,Arial, Helvetica,sans-serif; /*Myriad Pro, Myriad, */
    color:#000;
    background:url(../img/top.png) no-repeat top center white;
}

body,html{width:100%;margin:0;text-align:center;}
a{color:#000;text-decoration:none;}

body{font-size:62.6%!important;}
h1 { font-size:1.8em; }
h1#h1 { margin-top:0;margin-bottom:5px;padding:0;font-size:4em; }
h2 { font-size:1.6em; }
h3 { font-size:1.4em; }
h4 { font-size:1.3em; }
h5 { font-size:1.2em; }
p { font-size:1.1em;line-height:1.3em;  }

.para > ul > li {
    font-size:1.1em;    
}

.para li {
    background:url(../img/droite_puce.png) 0 5px no-repeat;
    padding-left:15px;	
}

.para {
    margin-bottom:15px;
}

.dehors {
    position:absolute;
    left:-50000000;
    top:-5000000;
}
.cacher {display:block;margin-top:-5000px;position:absolute !important;margin-left:-50000px;width:1px; overflow:hidden; height:1px;}
img {border:0} 
.clearer {display:block; clear:both;font-size:0px;line-height:0px; } 

ul ,  li {
    list-style:none;
    padding:0;
    margin:0;
}


#largeur {
    width:984px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    text-align:left;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}



@font-face {
    font-family: 'MisoLight';
    src: url('../css/miso/miso-light-webfont.eot');

    src:url('../css/miso/miso-light-webfont.eot?#iefix') format('eot'),
	url('../css/miso/miso-light-webfont.woff') format('woff'),
	url('../css/miso/miso-light-webfont.ttf') format('truetype'),
	url('../css/miso/miso-light-webfont.svg#webfontKibidBgL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Miso';
    src: url('../css/miso/miso-webfont.eot');
    src: url('../css/miso/miso-webfont.eot?#iefix') format('eot'),
	url('../css/miso/miso-webfont.woff') format('woff'),
	url('../css/miso/miso-webfont.ttf') format('truetype'),
	url('../css/miso/miso-webfont.svg#webfont9ljUXjAw') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MisoBold';
    src: url('../css/miso/miso-bold-webfont.eot');
    src: url('../css/miso/miso-bold-webfont.eot?#iefix') format('eot'),
	url('../css/miso/miso-bold-webfont.woff') format('woff'),
	url('../css/miso/miso-bold-webfont.ttf') format('truetype'),
	url('../css/miso/miso-bold-webfont.svg#webfontmLKaPHHF') format('svg');
    font-weight: normal;
    font-style: normal;

}

.miso {
    font-family:Miso;
    text-transform: uppercase
}

.misol {
    font-family:MisoLight;
    text-transform: uppercase
}

.misob {
    font-family:MisoBold;
    font-weight: normal;
    text-transform: uppercase
}


/**
 * LOGO
*/
#logo {	    
    background:black;
    text-align:left;
    padding-top:18px;
    height:83px;
}

#logo h1 {
    margin:0;    
    padding:0;   

}

#logo a  {

    vertical-align: top;
}
#logo a span {
    margin:0;
    position:relative;
    top:0;
    padding:0;
    vertical-align: top;
    font-size:5em;
    letter-spacing: -5px;
}

/**
 * Menu bas
*/

#bas {
    margin-top:20px;
    height:2.5em;
}
#in_bas {
    width:984px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    text-align:left;
}

#menu_bas {
    padding:0;
    margin:0;
}
#bas li {
    height:2.5em;
    float:left;
    list-style:none;
    line-height: 2.5em;
    margin:0;
    padding-left:5px;
    padding-right:15px;
    background:url(../img/bas_sep.png) no-repeat bottom right;
}
#bas li:last-child {
    background:none;
}
#bas .selected {
    color:white;   
}

#lien_ville {
    float:right;
    margin-right:20px;
}

/**
 * Recherche
*/

#recherche_small {
    margin:0;
    padding:0;

    margin-top:127px;
}


#recherche_small img , #recherche_small input {
    vertical-align: middle;
    border:0;
    background:black;
    color:white;
}


/**
 * MAIN
*/

#main_g {
    width:765px;
    float:left;
    min-height: 200px;
}

#main {
    margin-top:20px;
}

#bloc_centre {
    width:542px;
    float:left;
}

#bloc_droite {
  /*  padding-top:4.5em;*/
    float:left;
    width:260px;
}

#bloc_gauche {
    margin-right:20px;
    width:20em;
    float:left;
    overflow:hidden;
    min-height:10px;
}

#bloc_gauche h3 {
    padding-top:8px;
}

#div_menu_droite {
    margin-top:15px;
}

#droite {
    margin-left:22px;
    width:180px;
    float:left;
}

#droite ul , #droite li {
    margin:0;
    padding:0;
    list-style-type:none;
}

#menu_droite a {
    display:block;
}

#menu_droite li {

}


#menu_droite li li {
    border:0;
}

#menu_droite li {
    padding-bottom:10px;
    margin-bottom: 10px;
    border-bottom:2px solid #000;
}



#menu_droite_1, #menu_droite_2 {
    border:0 !important;
    padding-bottom:0px!important;

}
#menu_droite_1 a, #menu_droite_2 a {
    font-family:Miso;
    font-size:1.9em;
    text-transform:uppercase;
    color:white;
    height:1.5em;
    line-height:30px;
    padding-left:10px;


}

#menu_droite > li > a {
    font-family:Miso;
    font-size:1.9em;    
    text-transform: uppercase;
}


#menu_droite ul a {
    padding-left:12px;
    background:url(../img/droite_puce.png) no-repeat left center;
}
#menu_droite li li { 
    padding:0px;
    margin-top:7px;
}

#menu_droite_3 {
    padding-top:10px!important;
}



.simpleform div {
    clear:both;
}


.simpleform label {
    width:250px;
    float:left;
    display: block;
    font-size: 1.2em;
    padding:5px;
    text-align: right
}


.simpleform input.text,.simpleform input.password, .simpleform textarea ,.simpleform select {
    width:200px;
}



/*****
 *  Paragraphes
*/

.paragraphe_simple h3,  .paragraphe_simple p {
    margin:0;
    line-height:1.4em;
}
.paragraphe_simple p {
    margin-bottom:10px;
}
.para_miso {
    font-size:1.5em;
}


.media h3 {
    font-size:1.1em;
    padding:0;
    margin:0;
}

.media {
    clear:both;
    border-bottom:1px solid #ddd;    
    padding-bottom:5px;
    margin-bottom:5px;
} 

.media a.transcript{
    float:right;
}

.media a.transcript img {
    vertical-align: middle;

}

#img_entete {
    padding-bottom:15px;
}



p a.link_dwl:hover {
    background-image:url(../img/couleur/picto_dwl_o.png);
}

p a.link_dwl {
    background:url(../img/picto_dwl.png) no-repeat white;
    padding-left:18px;
    overflow:hidden;
    font-weight:bold;
}


p a.link_ext:hover {
    background-image:url(../img/couleur/picto_ext_o.png);
}

p a.link_ext {
    font-weight:bold;
    background:url(../img/picto_ext.png) no-repeat white;
    padding-left:18px;
}

.paragraphe_simple h3.miso {
    font-size:2.2em;
    line-height:1em;
    font-weight:normal;
}

#main form {
    width:430px;
}

#main form label {
    display:block;
    float:none;
    text-align: left;
    font-weight: bold;
}

#main form input.text ,#main form input.password , #main form select, #main form textarea, #main form input[type=text] {
    width:270px;
    border:0;
    background:#eee;
}

#main form .div_submit  {
    padding-top:10px;
}

#main form input.submit {
    color:white;
    font-family:Miso;
    text-transform: uppercase;
    font-size: 2em;
    float:right;
    background:black;
    padding:3px;
    vertical-align: middle;    
    height:1.2em;    
    border:0;
}

#main form textarea {
    width:430px;
    height:180px;
}



.itemliste .txt {
    padding:14px;
    padding:14px;
}

.itemliste {
    margin-bottom:15px;
    cursor:pointer;
}

.itemliste h4 , .itemliste p {
    margin:0;
    padding:0;

}

.itemliste h4  , .itemliste h3  {
    font-size:1em;   
    padding:0;
    margin:0;
}

.itemliste h4 a  , .itemliste h3 a {
    font-family:Miso;
    display:block;
    font-size:2.2em;
    font-weight: normal;	
    text-transform: uppercase
}

.itemliste .img img {
    display: block;
}

.itemliste .img {
    float:right;
    padding-left:10px;
}

#autocomplete a:hover {
 background:#eee;   
}
#autocomplete a {
    display: block;
    padding:4px;
    color:white;
    border-bottom:1px solid #fff;
    
}
#autocomplete {
    margin-left:-1px;
    top:147px;
    width:200px;
    position:absolute;
    background:black;
    border:0;
}

#outer_centre {
    float:left;
        width:542px;
}