#gen_actions {

}

#toolsright {
    float:right;
}

.well {
    padding:7px;

}

.well .well {
    padding:3px;
}

.table th {
    background:#eee!important;
}

#contenant {
    padding-top:30px;
}

#tools {
    padding-bottom:10px;
}

#contenupadd {
    /* padding-left:20px;
     padding-right:20px;*/
}

input.selectMSearch {
    font-size:10px;
    margin-top:0;
    padding-top:0;
    padding:0!important;
}

select.selectM {
    margin-bottom:0!important;
    height:60px;
}

.add-on-mini {
    padding:0 2px 0 2px!important;
}

input, textarea {
    color:#000!important;
}

::-webkit-input-placeholder {
    color: #777!important;
}

:-moz-placeholder {
    color: #777!important;
}

.tab-content  {
    border:1px solid #ddd;
    border-top:0;
    padding:20px;
}

#gen_actions {
    position:fixed;
    right:8px;
    top:110px;
    text-align:right;
    z-index: 20;
    max-width: 25%;;
}

#resume #gen_actions {
    position: relative;
    max-width: 100%;
    top:0;
    right: 0;
}


.fieldclosed legend,.fieldopen legend {
    display:inline;
    border:0;
    width: auto;
    padding: 0;
    margin: 0;
}
.fieldclosed,.fieldopen  {
    border:1px solid #ccc;
    padding:10px;
}

.fieldclosed .fieldset-nbfields {
    color:#555;
    font-size: 11px;
    font-style: italic;
}
.fieldopen .fieldset-nbfields {
    display: none;
}




.gen_actions-form button span {
    display: inline-block;
    padding:0;
    margin: 0;
    vertical-align: middle;
    max-width: 0;
    overflow: hidden;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
    transition:all 0.4s;
}

.gen_actions-form button:first-child span , .gen_actions-form button:hover span {
    max-width: 200px;
}

#resume #gen_actions a {
    display: block;
    /* width:190px;*/
}

#genform_formulaire {
    margin-right:50px;
}
#zegenform {
    margin-top:-20px;

}

.new_url {
    font-family:verdana;padding:5px;display:block;background:#eee;border:1px solid #999;color:#777;
}

.new_url b {
    color:#333;
}

#genform_formulaire input[type=text],#genform_formulaire  textarea,#genform_formulaire  select,#genform_formulaire  .uneditable-input {
    width:400px;
}

.nav-tabs li a {
    background:#eee!important;
}

.nav-tabs .active a , .tab-content{
    background:#ddd!important;
}

#genform_header_btn_lgs {
    display: none;
}

.well .well {
    background:#eee;
}

#genform_formulaire label.label {
    display: inline-block;
}

.ajaxselect {
    display: inline-block;
}

.ajaxselect select {
    margin-bottom:0;
}

.genform_uploadfile {
    text-align:center;
}

#arbo ul {
    list-style: none;
    margin-left:0;
}

#arbo ul ul {
    margin-left:10px;
}

#arbo a {
    font-size:90%;
}

#arbo .badge {
    padding-left:0;
}


td.dragHandle {
    width: 20px;
    background: url(../img/move_light.png) no-repeat center center #eee !important;
    cursor: move;
}

tr.myDragClass td {
    background-color: #ddd !important;
}

tr.myDragClass td.dragHandle {
    background: url(../img/move.png) no-repeat center center #eee !important;
}

tr.myDragClass {
}

.genform_champ_out {
    position:relative;
}

.help {
    position:absolute;
    right:0;
    top:0;
}
/*
.genform_champ_out {
    margin-bottom:0;
}*/
/*
.genform_champ_out table {
    width:auto!important;
}*/

.genform_champ table input[type=text] {
    width:100px!important
}

#resume .label {
    white-space: normal;
}
/*
.btn {
    border-radius:0!important;
}
*/
.navbar-inner {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top ,  #555555,#333333);
    background-repeat: repeat-x;
    border-radius: 0px 0px 10px 10px!important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.brand {
    padding-left:25px!important;
}

#gen_actions .btn {
    margin-bottom:10px;
    text-align: left;
}

.btn-primary {
    font-weight:bold;
}

td .well {
    margin:0;
}

.light {
    color:#999;
}

.box-shadow {
    -webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

#table_log_action {
    margin-top:10px;
}

#table_log_action caption {
    font-weight:bold;
}

.icon {
    text-indent:-9999999px;
}

.ajax_table td {
    vertical-align: middle;
}

input.hasDatepicker {
    width:7em!important;
    text-align: center;
}

.brand img {
    height:30px;
}

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}


.navbar .nav > li > a:hover  { 
    color:white;
}
.navbar .nav > li > a { 
    text-shadow:none;
    color:#aaa;
}

.navbar .brand {
    text-shadow: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle { 
    background:inherit;
    color:white;
}

.navbar-inner .container {
    padding-right:8px;
}


.ajax_lgs {
    position: relative;
}
.ajax_lg_select {
    box-sizing: border-box;
    width:10%!important;
    display: inline-block!important;
    padding: 0!important;
    padding-left:20px!important;
    min-height: 30px!important;
    background-position: 2px center!important;
}

#zegenform .ajax_lgs input[type=text] {
    box-sizing: border-box;
    width: 90%!important;
    display: inline-block;
    min-height: 30px!important;
}

#search input, #search select {
    max-width: 97%;
}

.previsu {
    float: right;
    color:#999;
    font-size: 11px;
    margin-left: 10px;
    margin-right: -3px;
    margin-top: -3px;
    vertical-align: middle;
}

.previsu a {
    padding: 2px;
}

#arbo_actions {
    position: fixed;
    margin-top: -20px;
}

#arbo_rubs {
    padding-top: 20px;
}